<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>

</head>

<body>
  <h1 class="titulo">Usuarios</h1>
  <div class="links">
    <a href="/login" class="logout">Logout</a>
  </div>
  
  <div class="usuarios">
    @for (usu of usuarios(); track usu.id) {
    <div class="card-usuario">

      <p class="nome">{{ usu.nome }}</p>

      <p class="email">
        {{ usu.email }}
      </p>

    </div>
    }
  </div>
</body>

</html>