<div class="pagina-disponibilidade">

  <!-- Cabeçalho -->
  <header class="cabecalho">

    <div>
      <h1>Minha disponibilidade</h1>

      <p>
        Marque os horários em que você está disponível para ministrar aulas.
      </p>
    </div>

  </header>


  <!-- Legenda -->
  <div class="legenda">

    <div class="legenda-item">
      <span class="legenda-disponivel"></span>
      Disponível
    </div>

    <div class="legenda-item">
      <span class="legenda-indisponivel"></span>
      Não disponível
    </div>

  </div>


  <!-- Grade -->
  <div class="tabela-container">

    <table class="grade-horarios">

      <thead>

        <tr>
          <th class="coluna-horario">
            Horário
          </th>

          <th>Seg</th>
          <th>Ter</th>
          <th>Qua</th>
          <th>Qui</th>
          <th>Sex</th>
        </tr>

      </thead>


      <tbody>

        <!-- 1 -->
        <tr>
          <td class="horario">
            <strong>1</strong>
            <span>07:00 - 07:45</span>
          </td>

          <td>
            <label class="celula">
              <input type="checkbox">
              <span class="marcador"></span>
            </label>
          </td>

          <td>
            <label class="celula">
              <input type="checkbox">
              <span class="marcador"></span>
            </label>
          </td>

          <td>
            <label class="celula">
              <input type="checkbox">
              <span class="marcador"></span>
            </label>
          </td>

          <td>
            <label class="celula">
              <input type="checkbox">
              <span class="marcador"></span>
            </label>
          </td>

          <td>
            <label class="celula">
              <input type="checkbox">
              <span class="marcador"></span>
            </label>
          </td>
        </tr>


        <!-- 2 -->
        <tr>
          <td class="horario">
            <strong>2</strong>
            <span>07:45 - 08:30</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 3 -->
        <tr>
          <td class="horario">
            <strong>3</strong>
            <span>08:50 - 09:35</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 4 -->
        <tr>
          <td class="horario">
            <strong>4</strong>
            <span>09:35 - 10:20</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 5 -->
        <tr>
          <td class="horario">
            <strong>5</strong>
            <span>10:30 - 11:15</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 6 -->
        <tr>
          <td class="horario">
            <strong>6</strong>
            <span>11:15 - 12:00</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 7 -->
        <tr>
          <td class="horario">
            <strong>7</strong>
            <span>13:00 - 13:45</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 8 -->
        <tr>
          <td class="horario">
            <strong>8</strong>
            <span>13:45 - 14:30</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 9 -->
        <tr>
          <td class="horario">
            <strong>9</strong>
            <span>14:50 - 15:35</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 10 -->
        <tr>
          <td class="horario">
            <strong>10</strong>
            <span>15:35 - 16:20</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 11 -->
        <tr>
          <td class="horario">
            <strong>11</strong>
            <span>16:30 - 17:15</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 12 -->
        <tr>
          <td class="horario">
            <strong>12</strong>
            <span>17:15 - 18:00</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 13 -->
        <tr>
          <td class="horario">
            <strong>13</strong>
            <span>18:15 - 19:00</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 14 -->
        <tr>
          <td class="horario">
            <strong>14</strong>
            <span>19:00 - 19:45</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 15 -->
        <tr>
          <td class="horario">
            <strong>15</strong>
            <span>19:45 - 20:30</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 16 -->
        <tr>
          <td class="horario">
            <strong>16</strong>
            <span>20:40 - 21:25</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>


        <!-- 17 -->
        <tr>
          <td class="horario">
            <strong>17</strong>
            <span>21:25 - 22:10</span>
          </td>

          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
          <td><label class="celula"><input type="checkbox"><span class="marcador"></span></label></td>
        </tr>

      </tbody>

    </table>

  </div>


  <!-- Rodapé -->
  <div class="acoes">

    <button class="botao-secundario">
      Limpar seleção
    </button>

    <button class="botao-principal">
      Salvar disponibilidade
    </button>

  </div>

</div>